################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Examples/CSharpExample/Example 0 (start)/obj
/Examples/CSharpExample/Example 1/obj
/Examples/CSharpExample
